<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <listeners>
        <listener class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
    </listeners>
    <test name="Test Group">
        <classes>
            <class name="com.learning.testngintegration.TestRestClient"/>
            <class name="com.learning.testngintegration.TestRestClientErrorCase"/>
        </classes>
    </test>
</suite>